<p>template-driven-form works!</p>

<form (ngSubmit)="onSubmit()">
    <input type="text" name="name" [(ngModel)]="person.name" placeholder="Name ?" required [minlength]="3" #nameControl="ngModel"/><br/>
    @if (nameControl?.invalid && (nameControl?.touched || nameControl?.dirty)) {
        <p style="color: red;">
            @if (nameControl?.hasError('required')) {
                The name is required
            }
            @if (nameControl?.hasError('minlength')) {
                The min length is 3
            }
        </p>
    }

    <input type="number" name="age" [(ngModel)]="person.age" placeholder="Age ?" [min]="0" [max]="150" #ageControl="ngModel"/><br/>
    @if (ageControl?.invalid && (ageControl?.touched || ageControl?.dirty)) {
        <p style="color: red;">
          @if (ageControl?.hasError('required')) {
            The name is required.
          }
          @if (ageControl?.hasError('min')) {
            Should be greater or equals to 0.
          }
          @if (ageControl?.hasError('max')) {
            Should be lower or equals to 150.
          }
        </p>
      }
    <button>submit</button>
</form>